//FONTS

$font-primary: 'Roboto';
$font-primary-bold: 'Roboto-bold';
$font-primary-semibold: 'Roboto-bold';
$font-secondary: 'Roboto';
$font-secondary-bold: 'Roboto-bold';


//COLORS

$color-primary: #003f71;
$color-primary-light: #004982;
$color-primary-light-blue: #78a8c1;
$color-white: #FFFFFF;
$color-black: #000;


$color-light-grey-1:#0033DD00;
$color-light-grey-2: #F6F8FF;
$color-dark-grey-1: #011E2991;
$color-dark-grey-2: #98a0a3;
$color-dark-grey-3: #242424;

$color-dark-blue-1: #091E3E;
$color-dark-blue-2: #011E29;
/*
//Responsive Breakpoints
$bp-largest: 75em; // i.e 1200px 
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px*/